:root {
  --error-color: #f53939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --error-color: #fd7878;
  }
}

#console:empty {
  display: none;
}

#console {
  max-height: 300px;
}

.not-supported-error {
  color: var(--error-color);
}

.not-supported-error[hidden] {
  display: none;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background: var(--background-alt);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  overflow: hidden;
}

.color-wheel {
  min-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(in hsl longer hue, hsl(0deg 100% 50%), hsl(360deg 100% 50%));
}

/* For browsers that don't support hue interpolation methods */
@supports not (background: conic-gradient(in hsl longer hue)) {
  .color-wheel {
    background: conic-gradient(red, yellow, green, cyan, blue, magenta, red);
  }
}

#picked-colors:empty {
  display: none;
}

#picked-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

#picked-colors li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#picked-colors li div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#actions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

eye-dropper:not(:defined) {
  display: none;
}

eye-dropper {
  display: block;
  margin-top: 0.75rem;
}

eye-dropper span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
