:root {
  --body-max-width: 56.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

details:has(#console:empty) {
  display: none;
}

#console {
  max-height: 15.625rem;
  overscroll-behavior: contain;
}

pre > code {
  border: 1px solid var(--border);
}

.alert {
  margin-block-end: 1rem;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background);
  color: var(--text-main);
}

.alert--error {
  background-color: #f8d7da;
  color: #721c24;
}

.not-supported-error[hidden] {
  display: none;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 1rem;
}

.demo input[type='checkbox'] {
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
}

.demo #actions > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.color-wheel {
  aspect-ratio: 1;
  width: 16.625rem;
  border-radius: 50%;
  background: conic-gradient(red, yellow, green, cyan, blue, magenta, red);
}

@media screen and (max-width: 37.5rem) {
  .color-wheel {
    width: 12.625rem;
  }
}

#picked-colors:empty {
  display: none;
}

#picked-colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));
  gap: 1rem;
  margin: 1rem 0 0 0;
  padding: 1rem;
  max-height: 15.625rem;
  overflow: hidden auto;
  overscroll-behavior: contain;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-alt);
  text-align: center;
}

#picked-colors li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#picked-colors li div {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

#actions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

browser-window:not(:defined) {
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

browser-window {
  display: block;
}

browser-window::part(base) {
  border-color: var(--border);
}

browser-window::part(main) {
  padding: 1rem;
}

eye-dropper:not(:defined) {
  display: none;
}

eye-dropper {
  display: block;
  margin-top: 0.75rem;
}

eye-dropper span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

eye-dropper [slot="button"] {
  margin: 0;
}
