:root {
  --bg-color: #ffffff;
  --text-color: #303942;
  --link-color: #1a73e8;
  --button-bg-color: var(--link-color);
  --button-text-color: #ffffff;
  --error-color: #f53939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202125;
    --text-color: #cccccc;
    --link-color: #8ab4f8;
    --button-bg-color: var(--link-color);
    --button-text-color: #202125;
    --error-color: #fd7878;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 1rem;
  line-height: 1.5;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1, h2, p {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 640px;
}

#console {
  padding: 1rem;
  background-color: #121212;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 0.9rem;
  overflow-x: auto;
  border-radius: 0.25rem;
  max-height: 400px;
}

#console > div:not(:last-child) { margin-bottom: 0.5rem; }
#console .error { color: #fd7878; }
#console .warning { color: #fff3cd; }
#console .success { color: #69d380; }
#console .info { color: #b1d8ff; }
#console:empty { display: none; }

.not-supported-error {
  color: var(--error-color);
}

.not-supported-error[hidden] {
  display: none;
}

.palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.palette div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 500px) {
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.3rem; }
}

eye-dropper {
  display: block;
  margin-bottom: 1rem;
}

eye-dropper::part(button) {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 0;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

eye-dropper::part(button--disabled),
eye-dropper [slot="button"][aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}

eye-dropper [slot="button-label"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
